*{
    margin: 0px;
    margin: 0px;
}

.bloco{
    color: white;
    width: 300px;
    font-family: Helvetica;
    margin: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

#bloco-1{
background-color: orange;
border: solid rgb(241, 179, 65);
}

#bloco-2{
    background-color: green;
    border: solid rgb(63, 234, 63);
    }

#bloco-3{
    background-color: rgb(5, 57, 5);
    border: dashed rgb(17, 132, 17);
    }

#bloco-4{
    background-color: rgb(191, 62, 62);
    border: dashed rgb(240, 159, 159);
    }